# Copiá este archivo como .env y completá tus datos reales
# NUNCA subas el .env a internet (ya está en el .gitignore)

VERIFY_TOKEN=elegí_una_palabra_secreta_cualquiera
PAGE_ACCESS_TOKEN=lo_obtenés_de_meta_developers
TWILIO_SID=lo_obtenés_de_twilio
TWILIO_AUTH=lo_obtenés_de_twilio
TWILIO_WHATSAPP=whatsapp:+14155238886
GOOGLE_MAPS_KEY=lo_obtenés_de_google_cloud
